@import url('https://fonts.googleapis.com/css2?family=Doto:wght,ROND@100..900,0..100&display=swap');

html, head,  body {
    margin: 0;
    padding: 0;
    font-family: "Doto", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #606060;
}

body {
    /*background-color: #0d1116;*/
    background-color: #0b090c;
    color: #ffffff;
}

/* --- NavBar --- */

nav {
    z-index: 1;

    margin: auto 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    border-bottom: #ffffff 1px solid;

    position: sticky;
    top: 0;

    background-color: #0b090cb0;

    font-weight: 700;
}

nav .nav_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

nav .nav_logo img {
    padding: 10px;
    width: 40px;
}

nav a {
    padding: 20px;

    font-size: 1.2em;
}

/* --- Responsive NavBar --- */
.nav_menu_icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.nav_menu_icon_line {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 4px;
    transition: all 0.3s ease;
}

.nav_links {
    display: flex;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}

nav.show {
    max-height: 100vh;
}

.nav_links.show {
    max-height: 100vh; /* Adjust this value based on the height of your menu */
    width: 100%;
}

@media (max-width: 768px) {
    .nav_menu_icon {
        display: flex;
    }

    nav {
        background-color: #0b090cf7;
        position: fixed;
        flex-wrap: wrap;
        width: calc(100vw - 40px);
    }

    .nav_links {
        flex-direction: column;
        width: 100%;
        max-height: 0;
    }

    .nav_links a {
        padding: 5vh 0px;
        text-align: center;
        width: 100%;

        font-size: 2em;
    }

    .nav_links.show {
        display: flex;
    }

    .nav_menu_icon.open .nav_menu_icon_line:nth-child(1) {
        transform: rotate(45deg) translate(7.5px, 7.5px);
    }

    .nav_menu_icon.open .nav_menu_icon_line:nth-child(2) {
        opacity: 0;
    }

    .nav_menu_icon.open .nav_menu_icon_line:nth-child(3) {
        transform: rotate(-45deg) translate(7.5px, -7.5px);
    }

    main {
        margin-top: 100px;
    }
}
/* --- End of Responsive NavBar --- */

/* --- End of NavBar --- */

/* --- Main Content --- */

main {
    margin: 20px;
}

.carousel {
    padding: 50px;
}

.carousel_img {

    height: calc((1 - 4/7)*100vw);

    overflow: hidden;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #000000;

    border-radius: 20px;
}

.carousel_img img {
    width: -webkit-fill-available;

    opacity: 0.5;
}

.carousel_text {
    position: absolute;
    right: 25%;
    left: 25%;
    top: 25%;

    opacity: 1;

    display: grid;
    justify-items: center;
    justify-content: center;

    text-shadow: 3px 3px 5px black;
}

.carousel_text h1 {
    font-size: 5em;
    text-align: center;
}

.carousel_text p {
    font-size: 2em;
    text-align: center;
}

/* --- End of Main Content --- */