/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Doto:wght,ROND@100..900,0..100&display=swap');

/* Reset default margins and paddings, and set default font */
html, head, body {
    margin: 0;
    padding: 0;
    font-family: "Doto", serif;
    font-optical-sizing: auto;
    font-style: normal;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Standard */
}

/* Style for anchor tags */
a {
    text-decoration: none;
    color: #ffffff;

    transition: color .48s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Hover effect for anchor tags */
a:hover {
    color: #606060;
}

/* Body background and text color */
body {
    /*background-color: #0b090c;*/
    height: 200vh;

    /*background-image: linear-gradient(#0b090c, #020018, #160a27);*/
    background-image: linear-gradient(#0b090c, #6a00ff 300%);
    color: #ffffff;
}

/* --- NavBar --- */

nav {
    position: sticky;
    top: 0;


    background-color: #0b090cb0;

    z-index: 1;
}

/* General navbar styles */
nav section {
    margin: auto 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: #ffffff 1px solid;
    font-weight: 700;
}

/* Navbar logo container */
nav .nav_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    padding: 0 !important;
}

/* Navbar logo image */
nav .nav_logo img {
    padding: 10px;
    width: 40px;
}

/* Navbar links */
nav a {
    padding: 20px;
    font-size: 1.2em;
}

/* --- Responsive NavBar --- */

/* Menu icon for mobile view */
.nav_menu_icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

/* Lines in the menu icon */
.nav_menu_icon_line {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 4px;
    transition: all 0.3s ease;
}

/* Navbar links container */
.nav_links {
    display: flex;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}

/* Show class for navbar */
nav.show {
    max-height: 100vh;
}

/* Show class for navbar links */
.nav_links.show {
    max-height: 100vh; /* Adjust this value based on the height of your menu */
    width: 100%;
}

/* Media query for screens with max-width of 768px */
@media (max-width: 768px) {
    /* Display menu icon */
    .nav_menu_icon {
        display: flex;
    }

    /* Navbar styles for mobile view */
    nav {
        background-color: #0b090cf7;
        position: fixed;
        
    }

    nav section {
        flex-wrap: wrap;
        width: calc(100vw - 40px);
    }

    /* Navbar links styles for mobile view */
    nav .nav_links {
        flex-direction: column;
        width: 100%;
        max-height: 0;
    }

    /* Navbar links anchor tags styles for mobile view */
    nav .nav_links a {
        padding: 5vh 0px;
        text-align: center;
        width: 100%;
        font-size: 2em;
    }

    /* Show class for navbar links in mobile view */
    .nav_links.show {
        display: flex;
    }

    /* Transformations for menu icon lines when open */
    .nav_menu_icon.open .nav_menu_icon_line:nth-child(1) {
        transform: rotate(45deg) translate(7.5px, 7.5px);
    }

    .nav_menu_icon.open .nav_menu_icon_line:nth-child(2) {
        opacity: 0;
    }

    .nav_menu_icon.open .nav_menu_icon_line:nth-child(3) {
        transform: rotate(-45deg) translate(7.5px, -7.5px);
    }

    /* Margin for main content in mobile view */
    #hero {
        margin-top: 100px;
    }
}
/* --- End of Responsive NavBar --- */

/* --- End of NavBar --- */

/* --- Main Content --- */

/* Main content container */
#hero {
    margin: 70px;
}

/* Carousel container */
.carousel {
    padding: 25px;
    background: radial-gradient(rgb(151 149 247 / 25%), rgb(151 149 247 / 0%)) border-box;
    border-radius: 40px;
    border: 1px solid #6a00ff21;
}

.carousel section {
    /*padding: 50px;*/
    background-color: #0b090c;
    border-radius: 20px;
    overflow: hidden;
}

/* Carousel images container */
.carousel_img {
    height: calc((1 - 4/7)*100vw);
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

    opacity: 0.5;
}

/* Carousel images */
.carousel_img img {
    width: -webkit-fill-available;
}

/* Carousel text container */
#head_text {
    position: absolute;
    right: 25%;
    left: 25%;
    top: 25%;
    opacity: 1;
    display: grid;
    justify-items: center;
    justify-content: center;
    text-shadow: 3px 3px 5px black;
}

/* Carousel heading */
#head_text h1 {
    font-size: 5em;
    text-align: center;
}

/* Carousel paragraph */
#head_text p {
    font-size: 2em;
    text-align: center;
}

/* Carousel text container */
#scroll_box {
    z-index: -1;

    position: absolute;
    right: 70px;
    left: 70px;
    top: 35%;
    opacity: 0;
    display: grid;
    justify-items: center;
    justify-content: center;
    text-shadow: 3px 3px 5px black;
}

#scroll_box.show {
    z-index: 0;
}

/* Carousel heading */
#scroll_box h1 {
    /*font-size: 5em;*/
    text-align: center;
    margin-bottom: 0;
}

/* Carousel paragraph */
#scroll_box p {
    /*font-size: 2em;*/
    text-align: center;
}

#scroll_box a {
    font-size: 1em;
    text-align: center;
    
    padding: 0.375rem 1.75rem;
}

#scroll_box .scroll_btn {
    margin-top: 25px;

    display: flex
;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

#scroll_box .scroll_btn a {
    margin: 5px 15px;
}

#scroll_box .scroll_btn #contact {
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    background: green;
    transition: background 0.3s ease;
}

#scroll_box .scroll_btn #contact:hover {
    color: #ffffff;
    background: rgb(0, 70, 0);
}

#scroll_box .scroll_btn #explore {
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    background: #6a00ff21;
    transition: background 0.3s ease;
    border: 1px solid white;
}

#scroll_box .scroll_btn #explore:hover {
    color: #ffffff;
    background: #ffffff21;
}

/* Media query for screens with max-width of 768px */
@media (max-width: 768px) {

    #hero {
        margin: 20px;
    }

    /* Adjust carousel margin and padding for mobile view */
    .carousel {
        margin: 20px; /* Reduce padding for the carousel */
        margin-top: 100px; /* Add top margin to the carousel */
        padding: 15px;
        border-radius: 30px;
    }

    .carousel_img {
        height: auto;
    }

    #scroll_box {
        margin-top: 0;
        top: 40%;
        left: 20px;
        right: 20px;
    }
}

.carousel_ctrl {
    display: flex;
    justify-content: center;

    height: 200px;

    transform: translateY(475px);

    background: radial-gradient(ellipse at 50% 0%, #321365 10%, #1f0c3c 70%);
}

.carousel_ctrl #pages {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid white;
    height: 40px;
    width: calc(10* 1.2rem* 2 + 11* 20px);
    margin: 20px;
    box-shadow: 0px 0px 10px white;
    background: radial-gradient(ellipse, #1d0043 60%, #412b5d);
    justify-content: center;
}



/* Keyframes for background-image transition */
@keyframes backgroundFade {
    0% {
        background-image: radial-gradient(circle, rgba(65, 43, 93, 0), rgba(65, 43, 93, 0));
    }
    12.5% {
        background-image: radial-gradient(circle, rgba(65, 43, 93, 0.025), rgba(65, 43, 93, 0.1));
    }
    25% {
        background-image: radial-gradient(circle, rgba(65, 43, 93, 0.05), rgba(65, 43, 93, 0.2));
    }
    37.5% {
        background-image: radial-gradient(circle, rgba(65, 43, 93, 0.075), rgba(65, 43, 93, 0.3));
    }
    50% {
        background-image: radial-gradient(circle, rgba(65, 43, 93, 0.1), rgba(65, 43, 93, 0.4));
    }
    62.5% {
        background-image: radial-gradient(circle, rgba(65, 43, 93, 0.125), rgba(65, 43, 93, 0.5));
    }
    75% {
        background-image: radial-gradient(circle, rgba(65, 43, 93, 0.15), rgba(65, 43, 93, 0.6));
    }
    87.5% {
        background-image: radial-gradient(circle, rgba(65, 43, 93, 0.175), rgba(65, 43, 93, 0.7));
    }
    100% {
        background-image: radial-gradient(circle, rgba(65, 43, 93, 0.2), rgba(65, 43, 93, 0.8));
    }
}

.carousel_ctrl #pages .page {
    padding: 7.5px 15px;
    font-size: 1.2rem;
    border-radius: 50px;
    background-image: transparent;
    margin: 0px 5px;
    box-shadow: none;
    border: none;
    transition: box-shadow 0.3s ease, border 0.3s ease;

    cursor: pointer;
}

.carousel_ctrl #pages .page:hover {
    animation: backgroundFade 0.3s forwards;
    box-shadow: none;
    border: none;
}

.carousel_ctrl #pages .page.show {
    border: 1px solid white;
    box-shadow: 0px 0px 5px white;
    background-image: radial-gradient(circle, rgba(65, 43, 93, 0.2), rgba(65, 43, 93, 0.8));
}

@media (max-width: 768px) {

    .carousel_ctrl #pages {
        justify-content: normal;
    }
    /* Overlay effect on #pages */
    .carousel_ctrl #pages::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 40px);
        height: 60px;
        background: radial-gradient(ellipse, transparent 50%, #00000091);
        border-radius: 50px;
        pointer-events: none;
        margin: 20px;
    }
}

/* --- End of Main Content --- */

