/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Doto:wght,ROND@100..900,0..100&display=swap');

/* Reset default margins and paddings, and set default font */
html, head, body {
    margin: 0;
    padding: 0;
    font-family: "Doto", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Style for anchor tags */
a {
    text-decoration: none;
    color: #ffffff;
}

/* Hover effect for anchor tags */
a:hover {
    color: #606060;
}

/* Body background and text color */
body {
    /*background-color: #0b090c;*/
    height: 200vh;
    /*background-image: linear-gradient(#160a27, #020018, #0b090c);*/
    background-image: linear-gradient(#0b090c, #020018, #160a27);
    color: #ffffff;
}

/* --- NavBar --- */

nav {
    position: sticky;
    top: 0;


    background-color: #0b090cb0;

    z-index: 1;
}

/* General navbar styles */
nav section {
    margin: auto 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: #ffffff 1px solid;
    font-weight: 700;
}

/* Navbar logo container */
nav .nav_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    padding: 0 !important;
}

/* Navbar logo image */
nav .nav_logo img {
    padding: 10px;
    width: 40px;
}

/* Navbar links */
nav a {
    padding: 20px;
    font-size: 1.2em;
}

/* --- Responsive NavBar --- */

/* Menu icon for mobile view */
.nav_menu_icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

/* Lines in the menu icon */
.nav_menu_icon_line {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 4px;
    transition: all 0.3s ease;
}

/* Navbar links container */
.nav_links {
    display: flex;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}

/* Show class for navbar */
nav.show {
    max-height: 100vh;
}

/* Show class for navbar links */
.nav_links.show {
    max-height: 100vh; /* Adjust this value based on the height of your menu */
    width: 100%;
}

/* Media query for screens with max-width of 768px */
@media (max-width: 768px) {
    /* Display menu icon */
    .nav_menu_icon {
        display: flex;
    }

    /* Navbar styles for mobile view */
    nav {
        background-color: #0b090cf7;
        position: fixed;
        
    }

    nav section {
        flex-wrap: wrap;
        width: calc(100vw - 40px);
    }

    /* Navbar links styles for mobile view */
    nav .nav_links {
        flex-direction: column;
        width: 100%;
        max-height: 0;
    }

    /* Navbar links anchor tags styles for mobile view */
    nav .nav_links a {
        padding: 5vh 0px;
        text-align: center;
        width: 100%;
        font-size: 2em;
    }

    /* Show class for navbar links in mobile view */
    .nav_links.show {
        display: flex;
    }

    /* Transformations for menu icon lines when open */
    .nav_menu_icon.open .nav_menu_icon_line:nth-child(1) {
        transform: rotate(45deg) translate(7.5px, 7.5px);
    }

    .nav_menu_icon.open .nav_menu_icon_line:nth-child(2) {
        opacity: 0;
    }

    .nav_menu_icon.open .nav_menu_icon_line:nth-child(3) {
        transform: rotate(-45deg) translate(7.5px, -7.5px);
    }

    /* Margin for main content in mobile view */
    main {
        margin-top: 100px;
    }
}
/* --- End of Responsive NavBar --- */

/* --- End of NavBar --- */

/* --- Main Content --- */

/* Main content container */
main {
    margin: 70px;
}

/* Carousel container */
.carousel {
    /*padding: 50px;*/
    background-color: #0b090c;
}

/* Carousel images container */
.carousel_img {
    height: calc((1 - 4/7)*100vw);
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

    opacity: 0.5;
}

/* Carousel images */
.carousel_img img {
    width: -webkit-fill-available;
}

/* Carousel text container */
#head_text {
    position: absolute;
    right: 25%;
    left: 25%;
    top: 25%;
    opacity: 1;
    display: grid;
    justify-items: center;
    justify-content: center;
    text-shadow: 3px 3px 5px black;
}

/* Carousel heading */
#head_text h1 {
    font-size: 5em;
    text-align: center;
}

/* Carousel paragraph */
#head_text p {
    font-size: 2em;
    text-align: center;
}

/* Carousel text container */
#scroll_text {
    z-index: -1;

    position: absolute;
    right: 70px;
    left: 70px;
    top: 35%;
    opacity: 0;
    display: grid;
    justify-items: center;
    justify-content: center;
    text-shadow: 3px 3px 5px black;
}

/* Carousel heading */
#scroll_text h1 {
    /*font-size: 5em;*/
    text-align: center;
    margin-bottom: 0;
}

/* Carousel paragraph */
#scroll_text p {
    /*font-size: 2em;*/
    text-align: center;
}

/* Media query for screens with max-width of 768px */
@media (max-width: 768px) {

    main {
        margin: 20px;
    }

    /* Adjust carousel margin and padding for mobile view */
    .carousel {
        margin: 20px; /* Reduce padding for the carousel */
        margin-top: 100px; /* Add top margin to the carousel */
        
    }

    .carousel_img {
        height: auto;
    }

    #scroll_text {
        left: 20px;
        right: 20px;
    }
}

/* --- End of Main Content --- */